# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Virtual Environments
.env
.venv
env/
venv/
ENV/

# Data files
data/bronze/
data/gold/models/*.joblib
archive/

# Spark
derby.log
metastore_db/
spark-warehouse/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# Snowflake / secrets
.env
*.pem
*.key

# Pytest
.pytest_cache/
.coverage
htmlcov/

# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/

# ML models (large binary artifacts)
data/gold/models/*.joblib

# Streamlit
.streamlit/

# Airflow
airflow.cfg
airflow.db
airflow-webserver.pid
standalone_admin_password.txt
