pyspark==3.5.1
pandas==2.2.2
kaggle==1.6.14
snowflake-connector-python==3.10.0
snowflake-sqlalchemy==1.6.1
dbt-snowflake==1.8.0
apache-airflow==2.9.1
streamlit==1.35.0
plotly==5.22.0
folium==0.16.0
scikit-learn==1.5.0
python-dotenv==1.0.1
pytest==8.2.2
pytest-mock==3.14.0
